{% extends "base/base_login.html" %}

{% block title %}Login{% endblock title %}

{% block main %}
<div class="row">
    <section class="card col-sm-12 col-md-3 mx-auto mt-5">
        <article class="card-header">
            <h5 class="card-title">Iniciar sesión</h5>
        </article>
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            <article class="card-body">
                {% for campo in form %}
                <div class="form-group">
                    <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                    {{ campo }}
                    {% if campo.errors %}
                        {% for error in campo.errors %}
                            <small id="{{ campo.id_for_label }}" class="form-text text-muted">{{ error }}</small>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </div>                   
            </article>
            <article class="card-footer">
                <input type="submit" class="btn btn-outline-success btn-block" value="Iniciar sesión">
            </article>
        </form>
    </section>
</div>
{% endblock main %}