{% include "base/head.html" %}
{% block head %}

{% endblock head %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light w-100 fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}"><img width="170px" src="https://www.solotodo.cl/static/logo.svg"
                alt="" class="img-nav"></a>
        <button class="navbar-toggler bg-info" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarToggleExternalContent" 
                aria-controls="navbarToggleExternalContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse w-100" id="navbarToggleExternalContent"
            <ul class="navbar-nav ">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'salir' %}">Cerrar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agregarProducto' %}">Registrar Producto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bienvenido {{ user.username }}</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'clima' %}">Consulta el clima</a>
                    </li> 
                    {% if backends.associated %}
                            {% for bkn in backends.associated %}
                                {% if bkn.provider == 'facebook' %}
                                    <img src="{{ bkn.extra_data.picture.data.url }}" alt="">
                                {% endif %}
                                {% if bkn.provider == 'github' %}
                                    <img src="{{ bkn.extra_data.picture.data.url }}" alt="">
                                {% endif %}
                            {% endfor %}
                        {% endif %}              
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'registro' %}">Registrarme</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- <div class="container mt-3">
        {% if messages %}
            <div class="row mt-5 mb-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    <h4 class="alert-heading">Solo todo</h4>
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div> -->
    <!-- <section id="cover-ctn-search"></section> -->

    <!-- MENÚ DE IMÁGENES(carousel) CON SLICK -->
    <!-- <main class="container-all" id="move-content"> -->
        {% block content %}

        {% endblock content %}        
    </main>

{% include "base/script.html" %}
</body>
</html>