{% load static %}
<!DOCTYPE html>
<html lang="es-cl">
    
{% include "base/head.html" %}
{% block head %}
{% endblock head %}
<body>
    <!-- MENÚ DE NAVEGACIÓN-DESPLEGABLE CON MATERIALIZECSS -->
    <header>
        <nav class="row">
            <section id="menu-navegacion" class="nav-wrapper col s12">
                <a href="{% url 'home' %}"><img width="170px" src="https://www.solotodo.cl/static/logo.svg" alt="" class="img-nav"></a>

                <ul id="show-menu" class="ul-nav hide-on-sma-and-down">
                    <li><a class="dropdown-trigger" data-target="dropdown1" href="#">Tecnología</a></li>
                    <li><a class="dropdown-trigger" data-target="dropdown2" href="#">Hardware</a></li>
                    <li><a class="dropdown-trigger" data-target="dropdown3" href="#">Electro</a></li>
                    {% if user.is_authenticated %}
                        <li><a class="dropdown-trigger" href="{% url 'salir' %}" >Cerrar sesión</a></li>
                        <li><a class="dropdown-trigger" href="#">Bienvenido: {{ user.username }}</a></li>
                        <li><a class="dropdown-trigger" href="{% url 'agregarProducto' %}">Agregar Producto</a></li>
                        
                    {% else %}
                        <li><a class="dropdown-trigger" href="{% url 'login' %}">Iniciar sesión</a></li>
                        <li><a class="dropdown-trigger" href="{% url 'registro' %}" class="nav-link">Registrarme</a></li>
                    {% endif %}
                </ul>

                <section>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="./asset/carrito/CARRITO_NOTEBOOKS.htm">NOTEBOOKS</a></li>
                        <li><a href="./asset/carrito/CARRITO_CELULAR.htm">CELULARES</a></li>
                        <li><a href="./asset/carrito/carritoConsolas.htm">CONSOLAS</a></li>
                        <li><a href="./asset/carrito/carritoTablets.htm">TABLETS</a></li>
                        <li><a href="./asset/carrito/CARRITO_WEARABLES.htm">WEARABLES</a></li>
                    </ul>
                    <ul id="dropdown2" class="dropdown-content">
                        <li><a href="./asset/carrito/carritoTarjetas.htm">TARJETAS DE VIDEO</a></li>
                        <li><a href="./asset/carrito/carritoProce.htm">PROCESADORES</a></li>
                        <li><a href="./asset/carrito/carritoMonitores.htm">MONITORES</a></li>
                        <li><a href="./asset/carrito/carritoGabinetes.htm">GABINETES</a></li>
                    </ul>
                    <ul id="dropdown3" class="dropdown-content">
                        <li><a href="./asset/carrito/carritoTv.htm">TELEVISORES</a></li>
                        <li><a href="./asset/carrito/carritoRefri.htm">REFRIGERADORES</a></li>
                        <li><a href="./asset/carrito/carritoEstufa.htm">ESTUFAS</a></li>
                        <li><a href="./asset/carrito/carritoCalefon.htm">CALEFONES</a></li>
                    </ul>
                </section>
            </section>
        </nav>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <!-- icon search(lupa) -->
        <section id="ctn-icon-search">
            <i class="fas fa-search" id="icon-search"></i>
        </section>
        <!-- ICON MENU -->
        <section id="icon-menu">
            <i class="fas fa-bars"></i>
        </section>
    </header>
    <!-- CONTAINER PARA BUSCAR -->
    <section id="ctn-bars-search">
        <input type="text" id="inputSearch" placeholder="¿Qué deseas buscar?">
    </section>
    <a href=""></a>

    <ul id="box-search">
        <li><a href="./asset/carrito/CARRITO_NOTEBOOKS.htm"><i class="fas fa-search"></i>NOTEBOOKS</a></li>
        <li><a href="./asset/carrito/CARRITO_CELULAR.htm"><i class="fas fa-search"></i>CELULARES</a></li>
        <li><a href="./asset/carrito/carritoConsolas.htm"><i class="fas fa-search"></i>CONSOLAS</a></li>
        <li><a href="./asset/carrito/carritoTablets.htm"><i class="fas fa-search"></i>TABLETS</a></li>
        <li><a href="./asset/carrito/carritoTarjetas.htm"><i class="fas fa-search"></i>TARJETAS DE VIDEO</a></li>
        <li><a href="./asset/carrito/carritoProce.htm"><i class="fas fa-search"></i>PROCESADORES</a></li>
        <li><a href="./asset/carrito/carritoGabinetes.htm"><i class="fas fa-search"></i>GABINETES</a></li>
        <li><a href="./asset/carrito/carritoMonitores.htm"><i class="fas fa-search"></i>MONITORES</a></li>
        <li><a href="./asset/carrito/carritoTv.htm"><i class="fas fa-search"></i>TELEVISORES</a></li>
        <li><a href="./asset/carrito/carritoRefri.htm"><i class="fas fa-search"></i>REFRIGERADORES</a></li>
        <li><a href="./asset/carrito/carritoEstufa.htm"><i class="fas fa-search"></i>ESTUFAS</a></li>
        <li><a href="./asset/carrito/carritoCalefon.htm"><i class="fas fa-search"></i>CALEFONES</a></li>
        <li><a href="./asset/carrito/CARRITO_WEARABLES.htm"><i class="fas fa-search"></i>WEARABLES</a></li>
    </ul>

    <section id="cover-ctn-search"></section>

    <!-- MENÚ DE IMÁGENES(carousel) CON SLICK -->
    <main class="container-all" id="move-content">
        {% block content %}

        {% endblock content %}
        <footer>
            <section id="foo-1">
                <h5 class="white-text">Acerca de solo todo</h5>
                <hr>
                <p class="grey-text text-lighten-3">Nuestra misión es ayudar a los consumidores a escoger el producto
                    perfecto para sus necesidades y presupuesto.</p>
                <a id="foo-a" class="grey-text text-lighten-3" href="#/">Términos y condiciones</a>
            </section>

            <section id="foo-2">
                <h5 class="white-text">Apariciones en los medios</h5>
                <hr>
                <ul>
                    <p class="grey-text text-lighten-3">
                        <img src="https://www.solotodo.cl/static/press-lun.jpg" alt="" class="responsive-img"> "Ofrece
                        el llamativo servicio de regatear y encontrar el precio más conveniente de notebooks"</p>
                </ul>
                <ul>
                    <p class="grey-text text-lighten-3">
                        <img src="https://www.solotodo.cl/static/press-c13.png" alt="" class="circle responsive-img">
                        "Una cotización podía tomar horas buscando y ahora se reduce a minutos"</p>
                </ul>
            </section>

            <section id="foo-3">
                <h5 class="white-text">Contacto</h5>
                <hr>
                <ul>
                    <li>
                        <p class="grey-text text-lighten-3">SoloNotebooks EIRL <br> Santiago - Chile</p>
                    </li>
                    <li><a id="foo-con" href="#/"><span class="grey-text text-lighten-3">Contáctanos vía web</span></a>
                    </li>
                </ul>
            </section>
        </footer>
    </main>
    
    {% include "base/script.html" %}
    {% block script %}
    {% endblock script %}
</body>

</html>