/* MENU DE NAVEGACIÓN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
}

.login{
    margin-top: 150px;
}

.login .card{
    background: rgba(0, 0, 0, .7);
}

.login label{
    color: #ccc;
    font-size: 18px;
}

.login input{
    font-size: 18px;
    color: #ccc;
}
.nav-wrapper {
    background: #315e85;
    display: flex;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 14px !important;
    color: #495057;
}

.nav-wrapper .ul-nav .dropdown-trigger {
    font-size: 16px;
    font-weight: bold;
}

.nav-wrapper .ul-nav .dropdown-trigger {
    font-size: 16px;
    font-weight: bold;
}

.dropdown-content {
    width: 150px !important;
}


/* ICON DEL MENU */

#icon-menu {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    color: #fff;
    display: none;
    cursor: pointer;
}

#icon-menu:hover {
    opacity: 0.7;
}
.alert{
    background-color: rgb(4, 245, 165);
    width: 50%;
    height: 40px;
    color: red;
    border-radius: 42px 42px 42px 42px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
}

@media screen and (max-width: 1100px) {
    body{
        background-image: url("https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=800&w=1260");
        background-position-y: top;
    }
}

@media screen and (max-width: 600px) {
    body{
        background-size: cover;
    }
    /* menu */
    .ul-nav {
        height: 100vh;
        position: fixed;
        top: 55px;
        left: 0;
        background: #fff;
        color: #495057;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        display: flex;
        flex-direction: column;
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }

    .dropdown-content li>a,
    .dropdown-content li>span {
        color: #ca0000;
    }
    .nav-wrapper .ul-nav .dropdown-trigger {
        color: #343a40;
    }
    .nav-wrapper .ul-nav .dropdown-trigger {
        color: #343a40;
    }

    #icon-menu {
        display: block;
    }
    .container-all {
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }
    .move-container-all {
        transform: translateX(300px);
    }
    .show-lateral {
        width: 200px;
        transform: translateX(0px);
    }
}