body {
    background-image: url("https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
}

.navbar{
    background: #315e85;
    height: 70px;
}

.navbar-collapse .navbar-nav{
    background: red;
}

.nav-link{
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
    font: sans-serif;
}

.card{
    background: rgba(0, 0, 0, .7);
}