{% extends "core/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "core/css/style_2.css" %}">
{% endblock head %}

{% block content %}
<main id="panel" class="row">
    <div class="col s12">
        <a id="a-panel" href="#">Monitores <span>/AOC C24G1</span></a>
    </div>
</main>
<h1 class="mb">AOC C24G1</h1>
<main id="cnt">
    <div id="img-pro">
        <img class="materialboxed" src="https://publicapi.solotodo.com/products/69359/picture/?width=1000&height=520">
    </div>

    <section id="panel-cara">
        <div class="panel-caracteristicas">
            <h3>Características</h3>
            <dl id="Características">
                <dt>Tipo: <span>LED</span></dt>
                <dt>Tamaño: <span>24.0"</span></dt>
                <dt>Resolución: <span>Full HD (1920x1080)</span></dt>
                <dt>Tiempo de respuesta: <span>1 ms</span></dt>
                <dt>Tasa de refresco: <span>144 Hz</span></dt>
                <dt>Curvatura: <span>Curvo</span></dt>
                <dt>¿Soporta FreeSync?: <span>Sí</span></dt>
                <dt>¿Soporta G-Sync?: <span>No</span></dt>
            </dl>
        </div>

        <div class="panel-especificaciones">
            <h3>Especificaciones <br> secundarias</h3>
            <dl id="Especificaciones">
                <dt>Contraste: <span>80000000:1</span></dt>
                <dt>Brillo: <span>250 cd/m<sup>2</sup></span></dt>
                <dt>Puertos USB: <span>No posee</span></dt>
                <dt>Soporte 3D: <span>No</span></dt>
            </dl>
        </div>

        <div class="panel-otros">
            <h3>Otros</h3>
            <dl id="Otros">
                <dt>Tipo de panel: <span>Va</span></dt>
                <dt>Parlantes: <span>No posee</span></dt>
                <dt>Puertos de video: </dt>
                <ul id="lista">
                    <li>1x DisplayPort</li>
                    <li>2x HDMI</li>
                    <li>1x VGA</li>
                </ul>
            </dl>
        </div>
    </section>

</main>
<main class="cnt2">
    <section class="p-table">
        <table>
            <thead>
                <tr>
                    <th>Tienda</th>
                    <th>Rating</th>
                    <th>P. oferta</th>
                    <th>P. normal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>bip</td>
                    <td>
                        <i class="fas fa-star" style="color: rgb(250, 201, 5);"></i>
                        <i class="fas fa-star" style="color: rgb(250, 201, 5);"></i>
                        <i class="fas fa-star" style="color: rgb(250, 201, 5);"></i>
                        <i class="far fa-star" style="color: rgb(250, 201, 5);"></i>
                        <i class="far fa-star" style="color: rgb(250, 201, 5);"></i>
                    </td>
                    <td><span style="color: black;" class="hov">$ 184.990</span> </td>
                    <td><span style="color: red;" class="hov">$ 216.656 </span></td>
                </tr>
            </tbody>
        </table>
        <section class="cont botones">
            <button class="waves-effect waves-light" id="btn-crear">
                <span style=" padding: 0px !important; color: white;"> Crear cotización de este
                    producto</span></button>
            <button class="waves-effect waves-light" id="btn-avisame">
                <span style=" padding: 0px !important; color: white;">¡Avísame cuando baje de
                    precio!</span></button>
            <button class="waves-effect waves-light" id="btn-com">
                <span style=" padding: 0px !important; color: white;">¿Lo compraste? ¡Danos tu
                    opinión!</span></button>
        </section>
    </section>

    <section id="video-monitor">
        <p id="p-moni">¿MONITOR CURVO 144HZ ECONÓMICO?</p>
        <section class="video-container">
            <iframe src="https://www.youtube.com/embed/CilabD9sL3E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        </section>
    </section>
</main>
{% block script %}
<script src="{% static "core/js/AOC.js" %}"></script> 
{% endblock script %}
{% endblock content %}



