{% extends "base/base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/style_2.css" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock head %}

{% block content %}
<main id="panel" class="row">
    <div class="col s12">
        <a id="a-panel" href="#">Monitores <span>/AOC C24G1</span></a>
    </div>
</main>
<h1 class="mb">{{producto.name}}</h1>
<main id="cnt">
    <div id="img-pro">
        <img class="materialboxed" src="{{producto.imagen.url}}">
    </div>

    <section id="panel-cara">
        <div class="panel-caracteristicas">
            <h3>Características</h3>
            <dl id="Características">
                <dt>Tipo: <span>LED</span></dt>
                <dt>Tamaño: <span>24.0"</span></dt>
                <dt>Resolución: <span>Full HD (1920x1080)</span></dt>
                <dt>Tiempo de respuesta: <span>1 ms</span></dt>
                <dt>Tasa de refresco: <span>144 Hz</span></dt>
                <dt>Curvatura: <span>Curvo</span></dt>
                <dt>¿Soporta FreeSync?: <span>Sí</span></dt>
                <dt>¿Soporta G-Sync?: <span>No</span></dt>
            </dl>
        </div>

        <div class="panel-especificaciones">
            <h3>Especificaciones <br> secundarias</h3>
            <dl id="Especificaciones">
                <dt>Contraste: <span>80000000:1</span></dt>
                <dt>Brillo: <span>250 cd/m<sup>2</sup></span></dt>
                <dt>Puertos USB: <span>No posee</span></dt>
                <dt>Soporte 3D: <span>No</span></dt>
            </dl>
        </div>

        <div class="panel-otros">
            <h3>Otros</h3>
            <dl id="Otros">
                <dt>Tipo de panel: <span>Va</span></dt>
                <dt>Parlantes: <span>No posee</span></dt>
                <dt>Puertos de video: </dt>
                <ul id="lista">
                    <li>1x DisplayPort</li>
                    <li>2x HDMI</li>
                    <li>1x VGA</li>
                </ul>
            </dl>
        </div>
    </section>

</main>
<main class="cnt2">
    <section class="p-table">
        <table>
            <thead>
                <tr>
                    <th>Tienda</th>
                    <th>Rating</th>
                    <th>P. oferta</th>
                    <th>P. normal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>bip</td>
                    <td>
                        <i class="fas fa-star" style="color: rgb(250, 201, 5);"></i>
                        <i class="fas fa-star" style="color: rgb(250, 201, 5);"></i>
                        <i class="fas fa-star" style="color: rgb(250, 201, 5);"></i>
                        <i class="far fa-star" style="color: rgb(250, 201, 5);"></i>
                        <i class="far fa-star" style="color: rgb(250, 201, 5);"></i>
                    </td>
                    <td><span style="color: black;" class="hov">$ 184.990</span> </td>
                    <td><span style="color: red;" class="hov">$ 216.656 </span></td>
                </tr>
            </tbody>
        </table>
        <section class="cont botones">
            <button class="waves-effect waves-light" id="btn-crear">
                <span style=" padding: 0px !important; color: white;"> Crear cotización de este
                    producto</span></button>
            <button class="waves-effect waves-light" id="btn-avisame">
                <span style=" padding: 0px !important; color: white;">¡Avísame cuando baje de
                    precio!</span></button>
            <button class="waves-effect waves-light" id="btn-com">
                <span style=" padding: 0px !important; color: white;">¿Lo compraste? ¡Danos tu
                    opinión!</span></button>
        </section>
    </section>

    <section id="video-monitor">
        <p id="p-moni">¿MONITOR CURVO 144HZ ECONÓMICO?</p>
        <section class="video-container">
            <iframe src="https://www.youtube.com/embed/CilabD9sL3E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        </section>
    </section>
</main>

<section class="container row mt-5">    
    <article class="col-md-8">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody> 
                    <!-- Aquí van los comentarios del a base de datos D: -->
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </article>
    <article class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Agregar nuevo comentario</h2>
            </div>
            <form action="">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="usuario">Ingrese nombre usuario</label>
                                <input name="usuario" id="usuario" class="form-control" required maxlength="45" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="comentario">Ingrese su comentario</label>
                                <textarea name="comentario" class="form-control" required id="comentario" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Guardar" class="btn btn-success btn-block">
                </div>
            </form>
        </div>
    </article>
</section>

{% include "base/footer.html" %}
{% block script %}
    <script src="{% static "js/rest_api.js" %}"></script> 
    <script src="{% static "js/AOC.js" %}"></script>     
{% endblock script %}
{% endblock content %}
