{% extends "base/contenido.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
{% endblock %}

{% block contenido %}
<main class="container-all" id="move-content">
    <main id="panel" class="row">
        <div class="col s12">
            <a id="a-panel" href="./asset/carrito/CARRITO_NOTEBOOKS.htm">Notebooks <span>/Acer Nitro 5 AN515-43-R9M4-1 [NH.Q6ZAL.009.1]</span></a>
        </div>
    </main>
    <h1 class="mb">Acer Nitro 5 AN515-43-R9M4-1 [NH.Q6ZAL.009.1]</h1>
    <div id="cnt">
        <div id="img-pro">
            <img class="materialboxed" src="https://media.solotodo.com/media/cache/7d/05/7d05a13fc5cc60c9c063c4a4b4322168.png">
        </div>

        <div id="panel-cara">
            <div class="panel-caracteristicas">
                <h3>Características</h3>
                <dl id="Características">
                    <dt>Procesador: <span>AMD Ryzen 5 3550H (4 núcleos / 8 hilos / 2100 MHz - 3700 MHz)</span></dt>
                    <dt>Ram: <span>8 GB DDR4 (2933 MHz)</span></dt>
                    <dt>Pantalla: <span>LED 16.1" (1920x1080) / 60 Hz</span></dt>
                    <dt>Batería: <span>4 celdas (3220 mAh)</span></dt>
                    <dt>Almacenamiento: <span>
                        HDD 1TB (5400rpm)
                </span></dt>
                    <dt>Tarjetas de video: <span>    
                        AMD Radeon RX Vega 8 (Integrada)
                        NVIDIA GeForce GTX 1650 (4 GB)
                    </span></dt>
                    <dt>Puertos: <span>
                        1x HDMI
                        <br>
                        1x RJ45 (10 / 100 / 1000 Mbps)
                        <br>
                        1x SuperSpeed USB 5Gbps Type-C (USB 3.0 / USB 3.1 Gen 1 / USB 3.2 Gen 1) (con señal HDMI / DisplayPort)
                        <br>
                        4x USB
                </span></dt>

                </dl>
            </div>

            <div class="panel-especificaciones">
                <h3>Especificaciones secundarias</h3>
                <dl id="Especificaciones">
                    <dt>Peso: <span>2300 g</span></dt>
                    <dt>Dimensiones: <span>363 x 255 x 26 mm</span></dt>
                    <dt>Sistema Operativo: <span>Microsoft Windows 10 Home</span></dt>
                    <dt>Unidad óptica: <span>No</span></dt>
                </dl>
            </div>

            <div class="panel-otros">
                <h3>Otros</h3>
                <dl id="Otros">
                    <dt>WiFi: <span>Genérica [Wi-Fi 5 (802.11ac)]</span></dt>
                    <dt>Adaptador de energia: <span>Desconocido</span></dt>
                    <dt>Lector de tarjetas: <span>No</span> </dt>
                    <dt>¿Lector de huellas digitales?: <span>No</span></dt>

                </dl>
            </div>
        </div>

    </div>
    <main class="cnt2">
        <section class="p-table">
            <table>
                <thead>
                    <tr>
                        <th>Tienda</th>
                        <th>Rating</th>
                        <th>P. oferta</th>
                        <th>P. normal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ripley</td>
                        <td>
                            <i class="fas fa-star" style="color: rgb(250, 201, 5);"></i>
                            <i class="fas fa-star" style="color: rgb(250, 201, 5);"></i>
                            <i class="fas fa-star" style="color: rgb(250, 201, 5);"></i>
                            <i class="far fa-star" style="color: rgb(250, 201, 5);"></i>
                            <i class="far fa-star" style="color: rgb(250, 201, 5);"></i>
                        </td>
                        <td><span style="color: black;" class="hov">$ 639.990		</span> </td>
                        <td><span style="color: red;" class="hov">$ 669.990 </span></td>
                    </tr>
                </tbody>
            </table>
            <section class="cont botones">
                <button class="waves-effect waves-light" id="btn-crear">
                        <span style=" padding: 0px !important; color: white;"> Crear cotización de este producto</span></button>
                <button class="waves-effect waves-light" id="btn-avisame">
                        <span style=" padding: 0px !important; color: white;">¡Avísame cuando baje de precio!</span></button>
                <button class="waves-effect waves-light" id="btn-com">
                            <span style=" padding: 0px !important; color: white;">¿Lo compraste? ¡Danos tu opinión!</span></button>
            </section>
        </section>

    </main>
</main>
{% endblock %}

{% block script %}
    <script src="{% static "js/AOC.js" %}"></script>
{% endblock %}