/* MENU DE NAVEGACIÓN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
}

.nav-wrapper {
    background: #315e85;
    padding: 0 1rem;
}

#menu-navegacion {
    display: flex;
}

.nav-wrapper {
    background: #315e85;
    display: flex;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 14px !important;
    color: #495057;
}

.nav-wrapper .ul-nav .dropdown-trigger {
    font-size: 16px;
    font-weight: bold;
}

.dropdown-content {
    width: 150px !important;
}

.nav-wrapper .ul-nav .dropdown-trigger {
    font-size: 16px;
    font-weight: bold;
}


/* style de carrito */

.btn,
.btn-large,
.btn-small {
    background: #315e85;
}

#boton-vaciar i {
    margin-left: 10px;
}

.btn-danger:hover {
    background: aqua;
    color: black;
    border: none;
}

.container-items {
    display: flex;
}

#items {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin-left: 10px;
    /* margin-right: 120px; */
    padding: 10px;
    text-align: center;
    border-radius: 86px 0px 86px 0px;
    -moz-border-radius: 86px 0px 86px 0px;
    -webkit-border-radius: 86px 0px 86px 0px;
    border: 0px solid #000000;
    overflow: hidden;
    -webkit-box-shadow: 13px -15px 5px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px -15px 5px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 13px -15px 5px -9px rgba(0, 0, 0, 0.75);
}

.img-fluid {
    width: 250px;
}

aside {
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
    /* margin-left: 730px; */
    /* position: fixed; */
    font-weight: bold;
    /* background: #fff; */
    padding: 0 10px;
    /* width: 50%; */
}


/* ICON DEL MENU */

#icon-menu {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    color: #fff;
    display: none;
    cursor: pointer;
}


/* BUSCADORE DE CONTENIDO */


/* icon de buscar */

#ctn-icon-search i {
    right: 55px;
    top: 22px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: all 300ms;
    position: absolute;
}

#ctn-icon-search i:hover {
    opacity: 0.5;
}

#ctn-bars-search {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
    width: 100%;
    height: 85px;
    background: #fff;
    padding: 20px 0;
    /* esto era el problema por que el menu lateral no aparecia */
    z-index: 9;
    transition: all 250ms;
}

#ctn-bars-search input {
    display: block;
    width: 850px;
    margin: auto;
    padding: 0 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
    overflow: hidden;
}

#box-search {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 134px;
    width: 900px;
    background: #fff;
    z-index: 8;
    display: none;
}

#box-search li a {
    display: block;
    width: 900px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover {
    background: #f3f3f3;
}

#box-search li a i {
    margin-right: 10px;
    color: #777777;
}

#cover-ctn-search {
    width: 100%;
    height: 100% !important;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 7;
    display: none;
}

.input-field {
    background: #fff;
    width: 220px;
}

.materialboxed {
    width: 550px;
}


/* panel de caracteristicas */

#panel {
    height: 50px;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
}

#a-panel {
    color: #355887;
    text-decoration: none;
}

.mb {
    font-weight: 300;
    font-size: 1.7rem;
    display: block;
    margin: 30px;
    color: red;
}

#cnt {
    display: flex;
    justify-content: center;
}

.cnt2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#img-pro {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: white;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#panel-cara {
    background: #fff;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 15px;
    width: 50%;
    display: flex;
}

.panel-caracteristicas {
    margin-left: 25px;
}

#Características {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.panel-especificaciones {
    margin-left: 25px;
}

#Especificaciones {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.panel-otros {
    margin-left: 25px;
}

#otros {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#p-moni {
    margin-bottom: 20px;
    font-size: 25px;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 12px;
    font-weight: 300;
    padding-bottom: 15px;
}

dt {
    color: #222222;
    font-weight: 400px;
    padding-right: 6px;
}

span,
#lista {
    color: grey;
}

#video-monitor {
    margin-top: 15px;
    margin-bottom: 15px;
    background: #fff;
    width: 50%;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.hov:hover {
    border-bottom: 1px solid red;
}

.p-table {
    background: #fff;
    padding: 20px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 300px;
    margin: 15px;
}

.botones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#btn-crear {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: pointer;
    margin: 5px;
}

#btn-avisame {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: pointer;
    margin: 5px;
}

#btn-com {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor: pointer;
    margin: 5px;
}

#grafic-puntua {
    background: #fff;
    width: 640px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#g-punt {
    margin-bottom: 20px;
    font-size: 25px;
}

fa-shopping-cart {
    color: #355887 !important;
}


/* FOOTER */

footer {
    background: #343a40;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#foo-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

#foo-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

#foo-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

h5 {
    margin-bottom: 15px;
}

hr {
    color: #bfbfbf;
    width: 350px;
}

footer #foo-con {
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width:800px) {
    #icon-search {
        display: block;
    }
    #ctn-bars-search {
        width: 100%;
    }
    #ctn-bars-search input {
        width: 90%;
    }
    #box-search {
        width: 100%;
    }
    #cnt {
        flex-wrap: wrap;
    }
    #panel-cara {
        width: 90%;
        margin-bottom: 15px;
    }
    .cnt2 {
        flex-direction: column;
        align-items: center;
    }
    .p-table {
        width: 90%;
        margin: 0;
        height: 230px;
    }
    #video-monitor {
        width: 90%;
    }
    footer {
        flex-direction: column;
    }
    #foo-1 {
        width: 90%;
        align-items: flex-start;
        margin-left: 10px;
    }
    #foo-2 {
        width: 90%;
        align-items: flex-start;
        margin-left: 10px;
    }
    #foo-3 {
        width: 90%;
        align-items: flex-start;
        margin-left: 10px;
    }
    hr {
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    /* menu */
    .ul-nav {
        height: 100vh;
        position: fixed;
        top: 55px;
        left: 0;
        background: #fff;
        color: #495057;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        display: flex;
        flex-direction: column;
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }
    .container-all {
        transition: all 300ms cubic-bezier(1, 0, 0, 1);
    }
    .move-container-all {
        transform: translateX(300px);
    }
    .show-lateral {
        width: 200px;
        transform: translateX(0px);
    }
    #icon-menu {
        display: block;
    }
    .table-cotizaciones {
        width: 90%;
        margin-left: 0px;
    }
    .dropdown-content li>a,
    .dropdown-content li>span {
        color: #ca0000;
    }
    .nav-wrapper .ul-nav .dropdown-trigger {
        color: #343a40;
    }
    .materialboxed {
        width: 450px;
    }
    .botones {
        flex-wrap: nowrap;
    }
    #btn-crear {
        width: 200px;
    }
    #btn-avisame {
        width: 200px;
    }
    #btn-com {
        width: 200px;
    }
    #video-monitor {
        padding: 0;
    }
    #p-moni {
        margin: 5px;
        text-align: center;
    }
    footer {
        padding: 20px;
    }
}

@media screen and (max-width:360px) {
    .materialboxed {
        width: 100%;
    }
    #panel-cara {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0;
        margin-bottom: 15px;
    }
    .botones {
        flex-wrap: wrap;
    }
    .p-table {
        width: 90%;
        height: 350px;
    }
    footer {
        flex-direction: column;
        padding: 5px;
    }
    #foo-1 {
        width: 90%;
        margin-bottom: 15px;
        align-items: flex-start;
    }
    #foo-2 {
        width: 90%;
        margin-bottom: 15px;
        align-items: flex-start;
    }
    #foo-3 {
        width: 90%;
        margin-bottom: 15px;
        align-items: flex-start;
    }
    hr {
        width: 95%;
    }
    .p-table {
        margin-bottom: 15px;
    }
    aside {
        position: relative;
        margin-left: 0;
        background: transparent;
        margin-bottom: 20px;
    }
    .container-items {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
    .img-fluid {
        width: 150px;
    }
    .card-title {
        font-size: 9px;
    }
    .fa-shopping-cart {
        width: 10px !important;
    }
    #boton-vaciar {
        display: flex;
        justify-content: center;
    }
}