<!-- CONTAINER PARA BUSCAR -->
<section id="ctn-bars-search">
    <input type="text" id="inputSearch" placeholder="¿Qué deseas buscar?">
</section>
<a href=""></a>
<ul id="box-search">
    <li><a href="./asset/carrito/CARRITO_NOTEBOOKS.htm"><i class="fas fa-search"></i>NOTEBOOKS</a></li>
    <li><a href="./asset/carrito/CARRITO_CELULAR.htm"><i class="fas fa-search"></i>CELULARES</a></li>
    <li><a href="./asset/carrito/carritoConsolas.htm"><i class="fas fa-search"></i>CONSOLAS</a></li>
    <li><a href="./asset/carrito/carritoTablets.htm"><i class="fas fa-search"></i>TABLETS</a></li>
    <li><a href="./asset/carrito/carritoTarjetas.htm"><i class="fas fa-search"></i>TARJETAS DE VIDEO</a></li>
    <li><a href="./asset/carrito/carritoProce.htm"><i class="fas fa-search"></i>PROCESADORES</a></li>
    <li><a href="./asset/carrito/carritoGabinetes.htm"><i class="fas fa-search"></i>GABINETES</a></li>
    <li><a href="./asset/carrito/carritoMonitores.htm"><i class="fas fa-search"></i>MONITORES</a></li>
    <li><a href="./asset/carrito/carritoTv.htm"><i class="fas fa-search"></i>TELEVISORES</a></li>
    <li><a href="./asset/carrito/carritoRefri.htm"><i class="fas fa-search"></i>REFRIGERADORES</a></li>
    <li><a href="./asset/carrito/carritoEstufa.htm"><i class="fas fa-search"></i>ESTUFAS</a></li>
    <li><a href="./asset/carrito/carritoCalefon.htm"><i class="fas fa-search"></i>CALEFONES</a></li>
    <li><a href="./asset/carrito/CARRITO_WEARABLES.htm"><i class="fas fa-search"></i>WEARABLES</a></li>
</ul>

<section id="cover-ctn-search"></section>