<footer>
    <section id="foo-1">
        <h5 class="white-text">Acerca de solo todo</h5>
        <hr>
        <p class="grey-text text-lighten-3">Nuestra misión es ayudar a los consumidores a escoger el producto perfecto para sus necesidades y presupuesto.</p>
        <a id="foo-a" class="grey-text text-lighten-3" href="#/">Términos y condiciones</a>
    </section>

    <section id="foo-2">
        <h5 class="white-text">Apariciones en los medios</h5>
        <hr>
        <ul>
            <p class="grey-text text-lighten-3">
                <img src="https://www.solotodo.cl/static/press-lun.jpg" alt="" class="responsive-img"> "Ofrece el llamativo servicio de regatear y encontrar el precio más conveniente de notebooks"</p>
        </ul>
        <ul>
            <p class="grey-text text-lighten-3">
                <img src="https://www.solotodo.cl/static/press-c13.png" alt="" class="circle responsive-img"> "Una cotización podía tomar horas buscando y ahora se reduce a minutos"</p>
        </ul>
    </section>

    <section id="foo-3">
        <h5 class="white-text">Contacto</h5>
        <hr>
        <ul>
            <li>
                <p class="grey-text text-lighten-3">SoloNotebooks EIRL <br> Santiago - Chile</p>
            </li>
            <li><a id="foo-con" href="#/"><span class="grey-text text-lighten-3">Contáctanos vía web</span></a>
            </li>
        </ul>
    </section>
</footer>